# Climate Data Challenge 2022. 
## Seasonal variability of crime for the London Metropolitan area, 2010-2022.

In [1]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
#load crime data
crim_path_dir = "MOJ-Climate-Change-and-Crime/"
Ldn_boro_crime = pd.read_pickle(crim_path_dir+"mps.borough.crime.2010-2021.pickle")
Ldn_boro_crime

,index,MajorText,MinorText,LookUp_BoroughName,yearmonth,value,date
0,37128,Arson and Criminal Damage,Arson,Barking and Dagenham,201004,6,2010-04-01
1,37129,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,201004,208,2010-04-01
2,37130,Burglary,Burglary Business and Community,Barking and Dagenham,201004,49,2010-04-01
3,37131,Burglary,Domestic Burglary,Barking and Dagenham,201004,118,2010-04-01
4,37132,Drug Offences,Drug Trafficking,Barking and Dagenham,201004,9,2010-04-01
...,...,...,...,...,...,...,...
243403,37123,Vehicle Offences,Theft from a Motor Vehicle,Westminster,202203,290,2022-03-01
243404,37124,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,202203,51,2022-03-01
243405,37125,Violence Against the Person,Homicide,Westminster,202203,0,2022-03-01
243406,37126,Violence Against the Person,Violence with Injury,Westminster,202203,347,2022-03-01
243407,37127,Violence Against the Person,Violence without Injury,Westminster,202203,659,2022-03-01

In [5]:
#load climate data
clim_path_dir = "climate_data/"
clim_vals = pd.read_csv(clim_path_dir+"monthly_climate_actuals_London_2001_2022.csv")
clim_vals

,month,mean_temperature,max_temperature,rainfall,raindays_gt_1mm,raindays_gt_10mm,sunshine_hours,humidity
0,01/01/2001,4.13844,6.94144,70.56545,12.17965,1.94158,67.43305,84.78743
1,01/02/2001,5.66318,8.98160,90.76535,12.96168,2.99560,80.63946,82.68405
2,01/03/2001,6.50429,9.36969,99.83895,14.39259,3.13756,66.53335,83.20217
3,01/04/2001,8.88921,12.71305,75.51019,16.81910,1.32035,132.29852,75.24798
4,01/05/2001,13.55181,18.62517,40.47370,6.20477,1.10364,230.06488,70.21018
...,...,...,...,...,...,...,...,...
252,01/01/2022,5.13069,8.75949,17.35631,4.93467,0.06533,73.18827,NaN
253,01/02/2022,7.63860,11.18567,58.07263,12.54334,1.14259,87.55723,NaN
254,01/03/2022,8.74571,12.95951,26.90577,5.03141,0.78518,165.15224,NaN
255,01/04/2022,10.24891,15.38764,20.81225,2.95980,0.90327,180.97978,NaN
256,01/05/2022,12.16089,15.64139,0.09411,0.00000,0.00000,1.58074,NaN

In [7]:
#bank holiday impact
BHs = pd.read_csv(clim_path_dir+"BH_weekend_days.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9e in position 14: invalid start byte